*{
    margin: 0px;
}
body{
    background: black;
}
#character{
    position: relative;
    top: 275px;
    left: 250px;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-bottom: solid 20px black;
    border-top: solid 20px transparent;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}
#game-area {
    width: 500px;
    height: 300px;
    border: solid 5px black;
    background: white;
}
@keyframes move {
    0% {top: 280px;}
    100% {top: -10px;}
}
@keyframes slide {
    0% {left: 0px;}
    100% {left: 60px;}  
}
#btn{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 2em;
}
#start{
    position: absolute;
    top: 2em;
    right: 0px;
    font-size: 2em;
}
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten{
    border-radius: 50%;
    background-color:red;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 5px;
    position: relative;
    animation: slide .75s ease-in-out infinite;
    animation-direction: alternate-reverse;
    display: inline-block;
    margin: 0px 10px;  
}